mixin metaAuthor
  meta(name='author' content='Brian J. Dillard')

mixin metaDescription(desc)
  if desc
    meta(name='description' content='#{desc}')

mixin metaStandard(desc)
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  +metaAuthor()
  +metaDescription(desc)

mixin modernizrHtmlOpenTag
  <!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8">        <![endif]-->
  <!--[if IE 8]>         <html lang="en" class="no-js lt-ie9">               <![endif]-->
  <!--[if IE 9]>         <html lang="en" class="no-js ie ie9">               <![endif]-->
  <!--[if gt IE 9]><!--> <html lang="en" class="no-js">                  <!--<![endif]-->

mixin siteScript(fileName)
  script(src=viewHelper.assetFile(fileName, 'js'))

mixin siteStylesheet(fileName)
  link(rel='stylesheet' type='text/css' href=viewHelper.assetFile(fileName, 'css'))

mixin touchIcons
  link(rel='apple-touch-icon-precomposed' href='/images/touch-icons/apple-touch-icon-precomposed.png')
  link(rel='icon' sizes='192x192' href='/images/touch-icons/touch-icon-192x192.png')
  link(rel='shortcut icon' href='/favicon.ico')