include /mixin/mixin
doctype html

html(class='no-js' lang='en')

  head
    +metaStandard('Armchair DJ: Songs I Love')

    title Armchair DJ

    block meta

    +script('modernizr')

    +externalStylesheet('https://fonts.googleapis.com/css?family=Raleway:300,600')
    +stylesheet('jet')

    +touchIcons()

  body
    #wrap
      include /partial/masthead

      #content
        .container
          include /partial/flash

          block content

      include /partial/footer

    +script('site')

    <!-- #{i18n.brian.hireMe} -->