include /mixin/mixin
doctype html

+modernizrHtmlOpenTag()

head
  +metaStandard('Armchair DJ: Songs I Love')

  title Armchair DJ

  block meta

  +siteScript('scripts-modernizr')

  +siteStylesheet('site')

  +touchIcons()

body
  #wrap
    //- include /partials/chrome/masthead

    header
      - if (currentUser)
      p Logged in as /#{currentUser.name}/

    block content

    //- include /partials/chrome/footer

  +siteScript('site')

</html>
