include /mixin/index
doctype html

html(lang='en')

  head
    title!=viewHelper.tokens([headline], ' | ')

    +metaStandard()

    block meta

    +externalStylesheet('https://fonts.googleapis.com/css?family=Raleway:300,600')
    +stylesheet('stylesheet-resume')

    +touchIcons()

  body
    #wrap
      #content
        .container
          block content
