mixin metaStandard()
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  +metaAuthor()
  +metaDescription()
  +metaKeywords()

mixin metaAuthor()
  meta(name='author' content='#{author || settings.defaults.author}')

mixin metaDescription()
  if description
    meta(name='description' content!=description)

mixin metaKeywords()
  if keywords
    meta(name='keywords' content=keywords.join(', '))
