include /shared/mixin/index
include /askauiguy/mixin/index
doctype html

html(lang='en')

  head
    title!=viewHelper.tokens([headline, i18n('askauiguy.name')], ' | ')

    +metaStandard()

    block meta

    +externalStylesheet('https://fonts.googleapis.com/css?family=Raleway:300,600')
    +stylesheet('askauiguy', 'stylesheet-askauiguy')

    +touchIcons()

  body
    #wrap
      #content
        .container
          block content
