flipBackgroundImage() {
  transform: scaleX(-1);
  filter: FlipH;

  > * {
    transform: scaleX(-1);
    filter: FlipH;
  }
}

backgroundForegroundImage($size, $width = $size, $height = $size, $solo = false, $paddingRatio = 1) {
  background-repeat: no-repeat;
  background-size: $size $size;

  if $solo == true {
    /* The container exists only to contain this BG image */
    width: $size;
    height: $size;
  } else {
    /* The container has other content, so lets make sure the image doesn't get cut off */
    min-height: $size * $paddingRatio;
    min-width: $size * $paddingRatio;
  }
}
