underlinedLink() {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

plainLink() {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

linkColor($off, $on = false, $shadow = false) {
  color: $off;

  if $on != false {
    &:hover {
      color: $on;
    }
  }

  if $shadow == false {
    &:hover {
      text-shadow: none;
    }
  } else {
    transition: color 0.5s ease-in-out 0.1s, text-shadow 0.5s ease-in-out 0.1s;

    &:hover {
      text-shadow: 1px 1px 1px rgba(190, 210, 190, 0.7);
    }
  }
}

textAndLinkColor($off, $on = false, $shadow = false) {
  color: $off;

  a {
    underlinedLink();
    linkColor($off, $on, $shadow);
  }
}

linkColorStandard() {
  linkColor($linkColor, $linkColorHover, true);
}

grayscaleLinkTransition() {
  transition: filter 1s ease-in-out;
  -webkit-transition: -webkit-filter 1s ease-in-out;

  prefixedFilter(grayscale(.1));

  &:hover {
    prefixedFilter(grayscale(.7));
  }
}
