underlinedLink() {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

plainLink() {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

linkColor($off, $on = false) {
  if $on == false {
    $on = $off;
  }

  color: $off;

  &:hover {
    color: $on;
  }
}

textAndLinkColor($off, $on = false) {
  color: $off;

  a {
    underlinedLink();
    linkColor($off, $on);
  }
}

linkColorStandard() {
  linkColor($linkColor, $linkColorHover);
}

grayscaleLinkTransition() {
  transition: filter 1s ease-in-out;
  -webkit-transition: -webkit-filter 1s ease-in-out;

  prefixedFilter(grayscale(.1));

  &:hover {
    prefixedFilter(grayscale(.7));
  }
}
