underlinedLink() {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

plainLink() {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

linkColor($off, $on = false) {
  color: $off;
  transition: color 0.5s ease-in-out 0.1s;

  if $on != false {
    &:hover {
      color: $on;
    }
  }
}

linkColorStandard() {
  linkColor($linkColor, $linkColorHover);
}

navLinkColor() {
  linkColor($navLinkColor, $navLinkColorHover);
}

grayscaleLinkTransition() {
  transition: filter 1s ease-in-out;
  -webkit-transition: -webkit-filter 1s ease-in-out;

  prefixedFilter(grayscale(.1));

  &:hover {
    prefixedFilter(grayscale(.7));
  }
}
