numberedList() {
  margin: 0 0 15px;
  padding: 0;
  list-style-type: decimal;

  li {
    margin: 0 0 5px 2em;
    padding: 0;
  }
}

plainList() {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin: 0;
    padding: 0;
    display: block;
  }
}

bulletedList() {
  margin-left: 2em;
  list-style-type: square;

  li {
    display: list-item;
  }
}

pipedList() {
  li {
    display: inline-block;
    margin-top: -.1em;

    &:after {
      content: " \007c";
      font-size: 1.1em;
      display: inline-block;
      margin: 0 0.45em 0 .65em;
    }

    &:last-child:after {
      content: "";
    }
  }
}

floatedDefinitionList($dtWidth, $ddWidth) {
  clearfix();

  dt,
  dd {
    float: left;
    margin: 0;
  }

  dt {
    clear: both;
    float: left;
    text-align: right;
    width: $dtWidth;
  }

  dd {
    float: right;
    width: $ddWidth;
  }
}
