bold() {
  font-weight: $boldFontWeight;
}

normal() {
  font-weight: $normalFontWeight;
  font-style: normal;
}

tight() {
  line-height: 1;
}

breathable() {
  line-height: 1.23;
}

airy() {
  line-height: 1.5;
}