/**
 * Weights.
 */

bold() {
  font-weight: $boldFontWeight;
}

normal() {
  font-weight: $normalFontWeight;
  font-style: normal;
}

/**
 * Line-heights.
 */

tight() {
  line-height: 1;
}

breathable() {
  line-height: 1.23;
}

airy() {
  line-height: 1.5;
}

/**
 * Treatments.
 */

dropCap($fontSize) {
  &:first-child:first-letter {
    bold();
    float: left;
    font-size: $fontSize;
    line-height: .75;
    padding: $fontSize * .04 $fontSize * .04 0 0;
  }
}

rightArrow() {
  &:after {
    content: '\00A0\2192';
  }
}

smartQuote() {
  &:before {
    content: '\201C';
  }
  &:after {
    content: '\201D';
  }
}
