form {
  .field {
    marginBottom(20px);

    label {
      display: block;

      span {
        display: block;

        &.hint {
          
        }
        &.label {
          
        }
      }

      input[type=text],
      input[type=password] {
        display: block;
        color: black;
      }
    }
  }
}
