$bodyBgColor = #fff;
$bodyTextColor = #333;
$contentBgColor = #fff;

$bylineTextColor = #73d8fb;

$postArtistColor = $bylineTextColor;
$postArtistColorHover = lighten($postArtistColor, 10);
$postTitleColor = darken($postArtistColor, 20);
$postTitleColorHover = lighten($postTitleColor, 10);

$linkColor = #0e5bbd;
$linkColorHover = darken($linkColor, 30)

$errorTextColor = #930;
$errorBgColor = lighten($errorTextColor, 60);

$infoTextColor = #999;
$infoBgColor = lighten($infoTextColor, 60);

$successTextColor = #00c011;
$succesBgColor = lighten($successTextColor, 60);

$standardRuleColor = #191618;
