nav#masthead
  .container
    +mascot()

    header
      - if (isHomepage)
        h1: +siteTitle()
      - else
        h2: a(href='/' title='back to homepage'): +siteTitle()

      h3
        span A monologue about music,
        | #{' '}
        span with occasional mixtapes.