aside#flash {
  padding: 20px 0;
  background-color: $flashBgColor;

  &.error {
    textAndLinkColor($errorTextColor, $errorTextColorHover);
  }

  &.success {
    textAndLinkColor($successTextColor, $successTextColorHover);
  }

  &.info {
    textAndLinkColor($infoTextColor, $infoTextColorHover);
  }

  .container {
    position: relative;

    a.close {
      plainLink();
      linkColor($errorTextColor, $errorTextColorHover);
      position: absolute;
      top: -8px;
      right: 0;
      font-size: 60px;
      line-height: 30px;
      color: $errorTextColor;
    }
  }
}
