aside#footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: $mascotSizeFooterMobile + 40px;
  text-align: center;
  font-size: 16px;

  a.mascot,
  span.mascot {
    backgroundForegroundImage($size: $mascotSizeFooterMobile);
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: ($mascotSizeFooterMobile * -.5);
  }

  nav,
  .copyright,
  .userStatus {
    marginBottom(20px);
  }
  
  .copyright,
  .userStatus {
    color: #888;
  }

  nav {
    a {
      plainLink();
    }
  }

  @media $mediaL {
    paddingVertical(40px);
    text-align: left;
    font-size: 20px;

    a.mascot,
    span.mascot {
      backgroundForegroundImage($size: $mascotSizeFooterDesktop);
      right: 10px;
      bottom: 20px;
      left: auto;
      margin: 0;
    }
  }
}
