aside#footer {
  paddingVertical(20px)
  backgroundForegroundImage($size: 50px, $url: '/image/theme/jet/armchair.jpg');
  background-position: 99% 50%;
  font-size: 20px;

  .copyright,
  nav,
  .userStatus {
    marginBottom(20px);
  }
  
  .copyright,
  .userStatus {
    color: #888;
  }

  nav {
    a {
      plainLink();
      navLinkColor();
    }
  }

  @media $mediaL {
    paddingVertical(40px)
    backgroundForegroundImage($size: 100px, $url: '/image/theme/jet/armchair.jpg');
  }
}
