aside#footer {
  paddingVertical(20px)

  nav {
    flipBackgroundImage();
    backgroundForegroundImage(50px);
    background-repeat: no-repeat;
    background-image: url('/image/theme/jet/armchair.jpg');
    background-position: bottom right;
  }

  @media $mediaL {
    nav {
      backgroundForegroundImage(100px);
    }
      
    paddingVertical(40px)
  }
}
