nav#masthead {
  paddingVertical(20px)

  span.mascot,
  a.mascot {
    display: none;
  }

  a.mascot {
    plainLink();
    grayscaleLinkTransition();
  }

  header {
    text-align: center;

    h1,
    h3 {
      margin: 0;
      normal();
    }

    h1 {
      tight();
      font-size: 46px;

      span {
        bold();
      }

      a {
        plainLink();
        navLinkColor();
      }
    }

    h3 {
      breathable();
      font-size: 18px;
      color: $taglineTextColor;

      span {
        white-space: nowrap;
        display: inline-block;
      }
    }
  }

  @media $mediaL {
    paddingVertical(40px);
    position: relative;
    min-height: $mascotSizeDesktop;

    span.mascot,
    a.mascot {
      flipBackgroundImage();
      backgroundForegroundImage($size: $mascotSizeDesktop, $url: '/image/theme/jet/armchair.jpg');
      position: absolute;
      top: 20px;
      display: block;
      background-position: top right;
    }

    header {
      text-align: right;
      padding-left: 180px;

      h1 {
        font-size: 54px;
      }

      h3 {
        font-size: 22px;

        span {
          display: block;
        }
      }
    }
  }
}
