.title {
  clearfix();
  cite {
    &.album,
    &.compilation,
    &.dj-mix {
      font-style: italic;
    }

    span {
      float: left;
      display: inline-block;

      &.version {
        clear: left;
      }
    }
  }
}
