article.post {
  > header,
  > section {
    standardRuleLine(#333);
  }

  header.postInfo {
    h1.title {
      font-size: 38px;
    }

    h2.artist {
      font-size: 38px;
    }

    h4.type {
      font-size: 22px;
    }

    h5.year {
      font-size: 26px;
    }
  }

  > section {
    &.body {
      p {
        dropCap(80px);

        @media $mediaL {
          dropCap(200px);
        }
      }
    }
  }

  .coverArt {
    centerHorizontal();

    img {
      display: block;
      width: 250px;
      height: 250px;
    }
  }

  @media $mediaL {
    > section {
      padding-right: 300px;
    }

    .coverArt {
      margin: 0 0 1em 1em;
      float: right;
    }
  }
}
