article.posts {
  > section.post {
    standardRuleLine(#333);
    clearfix();

    header.postInfo {
      h2.title {
        font-size: 34px;
      }

      h2.title span.version,
      h3.artist {
        font-size: 27px;
      }

      h4.type {
        font-size: 18px;
      }

      h5.year {
        font-size: 22px;
      }
    }

    aside.coverArt {
      coverArt(250px);
    }
  }

  @media $mediaL {
    > section.post {
      position: relative;

      aside.coverArt {
        coverArt(175px);
        position: absolute;
      }

      header.postInfo {
        margin-left: 200px;
        min-height: 200px;
      }

      div.byline {
        clear: left;
      }
    }
  }

  @media $mediaXL {
    > section.post {
      aside.coverArt {
        coverArt(250px);
      }

      header.postInfo {
        margin-left: 280px;
        min-height: 280px;
      }
    }
  }
}
