article.posts {
  > section.post {
    clearfix();
    marginBottom(80px);

    header.postInfo {
      h2.title {
        font-size: 34px;
      }

      h2.title span.version,
      h3.artist,
      h3.series {
        font-size: 27px;
      }

      h4.type {
        font-size: 18px;
      }

      h5.year {
        font-size: 22px;
      }
    }
  }

  a.readMore {
    plainLink();
  }

  @media $mediaS {
    > section.post {
      aside.coverArt {
        coverArt(250px);
      }
    }
  }

  @media $mediaL {
    > section.post {
      postIndexColumn(175px);
    }
  }

  @media $mediaXL {
    > section.post {
      postIndexColumn(250px);
    }
  }
}
