article.release {
  > header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      normal();
      breathable();
      font-size: $bodyFontSize;
      margin: 0;

      &.type {
        font-size: 22px;

        a {
          plainLink();
        }

        &:after {
          content: '\00A0\2192';
        }
      }
      &.artist {
        font-size: 38px;
        color: darken($taglineTextColor, 20);
      }
      &.title {
        font-size: 38px;
        color: $taglineTextColor;
      }
      &.year {
        font-size: 26px;
        color: #999;
      }
    }
  }

  > header,
  > section {
    standardRuleLine(#333);
  }

  &.song {
    > header {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &.title cite {
          &:before {
            content: '\201C';
          }
          &:after {
            content: '\201D';
          }
        }
      }
    }
  }

  > section {
    p {
      dropCap(80px);

      @media $mediaL {
        dropCap(200px);
      }
    }
  }

  @media $mediaL {
    section {
      padding-right: 300px;
    }

    .featureArt {
      paddingVertical(15px);
      margin-right: -340px;
      margin-left: -40px;

      img {
        display: block;
      }
    }
  }
}
