/*! Armchair DJ Site styles */

/* Nib */
vendor-prefixes ?= webkit moz ms o official

@import 'nib';

@import 'config/breakpoint';

@import 'config/resume/color';
@import 'config/resume/math';
@import 'config/resume/font';
@import 'config/resume/selector';
@import 'config/resume/url';

@import 'mixin/form';
@import 'mixin/img';
@import 'mixin/layout';
@import 'mixin/line';
@import 'mixin/link';
@import 'mixin/list';
@import 'mixin/prefix';
@import 'mixin/selection';
@import 'mixin/spacing';
@import 'mixin/text';

@import 'tag/html';
@import 'tag/body';
@import 'tag/text';

@import 'tag/article';
@import 'tag/form';
@import 'tag/img';
@import 'tag/link';
@import 'tag/list';

@import 'resume/resume';
