extends /layout/armchairdj

block content
  article.auth
    header
      h1 Registration

      if error
        h2.error!=error.message

    section.form
      form(method='post' action='/register')
        .field
          label
            span Email
            input(type='text' name='email' value=params.email)

        .field
          label
            span Username
            input(type='text' name='username' value=params.username)

        .field
          label
            span Name
            input(type='text' name='name' value=params.name)

        .field
          label
            span Password
            input(type='password' name='password')

        input(type='submit' value='submit')