mixin externalStylesheet(href)
  link(rel='stylesheet' type='text/css' href=href)

mixin script(pkgname)
  script(src=assetFiles[pkgname])

mixin stylesheet(pkgname)
  link(rel='stylesheet' type='text/css' href=assetFiles[pkgname])

mixin touchIcons()
  link(rel='apple-touch-icon-precomposed' href='/apple-touch-icon-precomposed.png')
  link(rel='icon' sizes='192x192' href='/apple-touch-icon-precomposed.png')
  link(rel='shortcut icon' href='/favicon.ico')
