mixin externalStylesheet(href)
  link(rel='stylesheet' type='text/css' href=href)

mixin script(fileName)
  script(src=viewHelper.assetUrl(fileName, 'js'))

mixin stylesheet(fileName)
  link(rel='stylesheet' type='text/css' href=viewHelper.assetUrl(fileName, 'css'))

mixin touchIcons()
  link(rel='apple-touch-icon-precomposed' href='/apple-touch-icon-precomposed.png')
  link(rel='icon' sizes='192x192' href='/apple-touch-icon-precomposed.png')
  link(rel='shortcut icon' href='/favicon.ico')
