aside#footer
  .container
    nav
      ul.piped
        - if (currentUser)
          li Logged in as #{currentUser.username}
          li: a(href='/auth/logout') Log Out
        - else
          li: a(href='/auth/login') Log In
          //- li: a(href='/auth/registration') Register
        li: a(href='/about') About
