nav#masthead
  .container
    +mascot()

    header
      h1
        - if (isHomepage)
          +siteTitle()
        - else
          a(href='/' title='back to homepage'): +siteTitle()

      h3
        span A monologue about music,
        | #{' '}
        span with occasional mixtapes.