nav#masthead
  .container

    - if (isHomepage)
      span.mascot &nbsp;
    - else
      a.mascot(href='/' title='back to homepage') &nbsp;

    header
      h1
        - if (isHomepage)
          | Armchair #{''}
          span DJ
        - else
          a(href='/' title='back to homepage')
            | Armchair #{''}
            span DJ

      h3
        span A monologue about music,
        | #{' '}
        span with occasional mixtapes.