nav#masthead
  .container
    header
      h1
        a(href='/')
          | Armchair #{''}
          span DJ
      h3
        span A monologue about music,
        | #{' '}
        span with occasional mixtapes.