extends /layout/armchair

block content
  article
    header
      h1!=headline
      h2 #{viewHelper.pluralize('post', posts.length, true)}

    - each post in posts
      section(class=post.type())
        - if (post.type() === 'release')
          p This is a release.
        - else
          p This is a playlist.

        | !{viewHelper.marked(post.content).substring(0, 200)}
