extends /layout/resume

block content
  article.resume
    .masthead
      header
        h1 Brian J. Dillard
        h2 Hands-On Software Craftsman

      nav
        ul
          li: a(href='https://www.linkedin.com/in/briandillard') LinkedIn
          li: a(href='https://github.com/armchairdj') GitHub
          li: a(href='http://stackoverflow.com/users/1518589/armchairdj') Stack Overflow
          li: a(href='mailto:armchairdj@gmail.com') armchairdj@gmail.com

    section.positions
      header
        h3 Professional experience

      .subsection.company
        header
          h4 Placester
          h6 Chicago

        .position
          header
            h5
              div Lead Software Engineer
              div: a(href='http://www.openhomepro.com') Open Home Pro
            h6 2016-present

          ul.bulleted
            li Joined this rapidly growing real estate startup when it acquired my previous employer in 2016.
            li Continued to lead development of Open Home Pro, the leading open house management app.

      .subsection.company
        header
          h4 HomeFinder
          h6 Chicago

        .position
          header
            h5
              div Principal Software Engineer
              div: a(href='http://www.openhomepro.com') Open Home Pro
            h6 2014-2016

          ul.bulleted
            li Led mobile/web development team in the transition from chaotic startup to grown-up business.
            li Increased the percentage of paid users by building new features &amp; responding to market feedback.
            li Standardized technologies, implemented coding standards and radically improved test coverage.

        .position
          header
            h5
              div Lead Software Engineer
              div: a(href='https://sweepstakes.homefinder.com/') Ultimate Home Transformation Sweepstakes
            h6 2013-2014

          ul.bulleted
            li Championed lean startup principles at this real-estate services company.
            li Built a bespoke Rails 4 application for a new sweepstakes product that generated ~$1M in ad revenue.

      .subsection.company
        header
          h4 Viewpoints
          h6 Chicago

        .position
          header
            h5
              div Cofounder &amp; Principal Software Engineer
              div: a(href='https://moderncomment.com/') Modern Comment
            h6 2012-2013

          ul.bulleted
            li Bootstrapped this lean startup, which provides tools for local businesses to collect customer feedback.
            li Collaborated with business leads to define the product, its features and its mobile-first user experience.
            li Built a Rails 3.2 application and related AWS deployment tools from scratch in just four months.

        .position
          header
            h5
              div Lead UI Engineer
              div: a(href='http://www.viewpoints.com/') Viewpoints.com
            h6 2010-2012

          ul.bulleted
            li Collaborated with senior leadership on mobile, design and product strategy for this product review site.
            li Improved traffic by implementing responsive design and radically tuning front-end performance.
            li Implemented automated testing, code reviews and tech standards to increase product momentum.

      .subsection.company
        header
          h4 Peak6
          h6 Chicago

        .position
          header
            h5
              div Senior Technical Lead
              div: a(href='https://www.optionshouse.com/') OptionsHouse
            h6 2009-2010

          ul.bulleted
            li Built and managed a team of five developers at this online brokerage for options traders.
            li Maintained and evolved technical infrastructure for a brower-based trading platform.
            li Managed development of new mobile products and adoption of open-source technologies.

      .subsection.company
        header
          h4 Pathfinder Development
          h6 Chicago

        .position
          header
            h5
              div Blogger &amp; Lead Ajax Developer
              div: a(href='http://www.pathfinderdev.com/') Pathfinder.com
            h6 2007-2009

          ul.bulleted
            li Developed a variety of client and skunkworks projects in JavaScript and Ruby on Rails.
            li Blogged regularly, spoke at industry conferences and contributed to open source projects.

      .subsection.company
        header
          h4 Orbitz
          h6 Chicago

        .position
          header
            h5
              div UI Technical Lead
              div: a(href='http://www.ebookers.com/') eBookers
            h6 2007

          ul.bulleted
            li Oversaw UI development for a brand-new internationalized white-label travel platform.
            li Built features, code-reviewed 25 other developers, and managed relationships with global stakeholders.

        .position
          header
            h5
              div Senior UI Software Engineer
              div: a(href='http://www.orbitz.com') Orbitz
            h6 2005-2007

          ul.bulleted
            li Maximized revenue by hand-coding new features for this global leader in online travel.
            li Led projects to white-label the Orbitz platform for new corporate acquisitions.

        .position
          header
            h5
              div UI Software Engineer
              div: a(href='https://www.cheaptickets.com/') CheapTickets
            h6 2005

          ul.bulleted
            li Transitioned newly acquired subsidiaries onto the Orbitz platform using JSP, HTML, CSS and JavaScript.

      .subsection.company
        header
          h4 Self-Employed
          h6 Chicago

        .position
          header
            h5 Freelance Software Engineer
            h6 October 2003 - May 2005

          ul.bulleted
            li Developed rich user interfaces for United Airlines and a variety of startups and nonprofits.

      .subsection.company
        header
          h4 Reflect.com
          h6 San Francisco

        .position
          header
            h5 Lead UI Developer
            h6 2000-2003

          ul.bulleted
            li Built complex interfaces allowing everyday shoppers to customize cosmetic, hair &amp; fragrance products.

      .subsection.company
        header
          h4 Townsend Analytics
          h6 Chicago

        .position
          header
            h5 Web Developer / Webmaster
            h6 1998-2000

          ul.bulleted
            li Built web presence and API documentation for RealTick, an industry-leading desktop trading platform.

      .subsection.company
        header
          h4 AdBot
          h6 Chicago

        .position
          header
            h5 Web Producer
            h6 1996-1997

          ul.bulleted
            li Built page templates, wrote copy and performed research for this early online advertising market.

    section.education
      header
        h3 Education

      .subsection.company

        .position
          header
            h5
              div Michigan State University Honors College
              div Bachelor of Arts, English & journalism
            h6 1996

    section.personal
      header
        h3 About

      .subsection
        header
          h4 I'm a veteran

        p I'm a technology lifer who combines development chops with product vision and leadership experience.

        p As a software craftsman, I've mastered the entire stack, from web UI to backend infrastructure and cloud deployment.

        p As a technology leader, I've built many new products from the ground up. But I specialize in transforming messy startup code into a solid foundation for future growth.

        p As a team player, I've mentored a long parade of junior developers and worked alongside countless product leads, designers, business analysts and QA engineers.

      .subsection.compact
        header
          h4 I'm a generalist

        p I build web and mobile products using a variety of languages, platforms and frameworks. My preferred tools include git, bash, nginx, Node.js, MongoDB, Ruby on Rails, SQL, JavaScript, HTML 5, CSS 3, Linode, Textmate and iTerm.

        p Don't see your favorite technology listed? Let's chat about it!

      .subsection
        header
          h4 I'm a maker

        p I like to build products, teams and processes. My ideal role is:

        dl
          dt Collaborative
          dd I'm at my best on a small, cross-functional team.

          dt Nimble
          dd I know how to build, release, iterate &amp; repeat.

          dt Hands-on
          dd I favor coding &amp; mentoring over pure management.

          dt User-focused
          dd I can build your app <strong>and</strong> help define your product.

      .subsection.compact
        header
          h4 I'm post-geographic

        p I live in Mount Washington on the east side of Los Angeles. I prefer to collaborate via Slack, Google Hangouts and GitHub from my sweet home office, but I'd consider an in-person role in DTLA, Glendale or Pasadena.

    section.hire

      .subsection
        header
          h4 How to hire me

        img(src='/image/theme/jet/brian_dillard.jpg')

        ul.bulleted
          li Principals and in-house recruiters to the front of the line.
          li Poorly targeted recruiting emails go straight to my spam filters.
          li If you want me to know you're not a keyword-processing robot, ask me about my favorite episode of The Vampire Diaries.

      .subsection
        header
          h4 Thanks for reading!
