include /mixin/index
doctype html

html(class='no-js' lang='en')

  head
    title!=viewHelper.tokens([headline, i18n('armchairdj.name')], ' | ')

    +metaStandard()

    block meta

    +script('armchairdj', 'script-modernizr')

    +externalStylesheet('https://fonts.googleapis.com/css?family=Raleway:300,600')
    +stylesheet('armchairdj', 'stylesheet-jet')

    +touchIcons()

  body
    #wrap
      include /partial/flash
      include /partial/masthead

      #content
        .container

          block content

      include /partial/footer

    +script('armchairdj', 'script-site')

  <!-- #{i18n('armchairdj.brian.hireMe')} -->