extends /layout/armchair

block content
  article.homepage
    header
      h1 Homepage

    section
      p Content to come.

    nav
      ul.bulleted
        li: a(href='/releases') Releases
        li: a(href='/release') Release DONE

      ul.bulleted
        li: a(href='/mixes') Mixes
        li: a(href='/mix') Mix

      ul.bulleted
        li: a(href='/admin') Admin
        li: a(href='/account') Account
        li: a(href='/profile') Profile
