extends /layout/global

block content
  article
    header
      h1 Headline

    section
      p Church-key biodiesel letterpress, chillwave squid chia raw denim kale chips organic paleo freegan typewriter tousled DIY fashion axe. Normcore pug kombucha PBR&B, before they sold out gastropub sriracha neutra pickled fashion axe tofu irony. Tousled kogi taxidermy biodiesel. Keytar crucifix cred polaroid. Direct trade heirloom tofu, messenger bag gastropub williamsburg helvetica celiac jean shorts thundercats church-key. Crucifix pinterest skateboard, meditation sustainable tofu irony asymmetrical semiotics synth flannel cardigan selvage keytar. Sustainable messenger bag kinfolk brooklyn tacos.

    section
      p Church-key biodiesel letterpress, chillwave squid chia raw denim kale chips organic paleo freegan typewriter tousled DIY fashion axe. Normcore pug kombucha PBR&B, before they sold out gastropub sriracha neutra pickled fashion axe tofu irony. Tousled kogi taxidermy biodiesel. Keytar crucifix cred polaroid. Direct trade heirloom tofu, messenger bag gastropub williamsburg helvetica celiac jean shorts thundercats church-key. Crucifix pinterest skateboard, meditation sustainable tofu irony asymmetrical semiotics synth flannel cardigan selvage keytar. Sustainable messenger bag kinfolk brooklyn tacos.

    section
      p Church-key biodiesel letterpress, chillwave squid chia raw denim kale chips organic paleo freegan typewriter tousled DIY fashion axe. Normcore pug kombucha PBR&B, before they sold out gastropub sriracha neutra pickled fashion axe tofu irony. Tousled kogi taxidermy biodiesel. Keytar crucifix cred polaroid. Direct trade heirloom tofu, messenger bag gastropub williamsburg helvetica celiac jean shorts thundercats church-key. Crucifix pinterest skateboard, meditation sustainable tofu irony asymmetrical semiotics synth flannel cardigan selvage keytar. Sustainable messenger bag kinfolk brooklyn tacos.
