extends /layout/armchair

block content
  article
    header
      h1 Headline

    section
      p Hoodie four dollar toast mumblecore pitchfork tilde. Chartreuse lumbersexual venmo deep v, meggings asymmetrical portland chambray bitters humblebrag direct trade. Biodiesel deep v banjo paleo quinoa. Stumptown chartreuse shabby chic PBR&B jean shorts, yr keffiyeh aesthetic cold-pressed tote bag beard asymmetrical. Banjo trust fund vegan, artisan lumbersexual mixtape bushwick pickled craft beer. Readymade tumblr art party keytar, bushwick hoodie chicharrones sartorial biodiesel echo park. 8-bit bitters mixtape shoreditch, selvage disrupt everyday carry retro authentic echo park typewriter quinoa distillery skateboard.

    section
      p Beard intelligentsia chillwave taxidermy fashion axe. Bespoke fixie hella dreamcatcher, flexitarian squid selfies gochujang. Selvage portland echo park, forage mumblecore mustache chia fap single-origin coffee bitters authentic umami. Kale chips lumbersexual asymmetrical truffaut, gochujang meh sartorial waistcoat fixie helvetica tumblr deep v. Tote bag trust fund bushwick man bun. Tote bag neutra artisan, pitchfork ennui migas bicycle rights gastropub etsy. Venmo cray echo park bespoke kombucha.

    section
      p Four loko messenger bag artisan, actually portland before they sold out viral whatever sartorial intelligentsia. Chartreuse YOLO farm-to-table, +1 meh retro humblebrag shoreditch bespoke celiac fanny pack pickled distillery shabby chic. Yr etsy master cleanse squid, organic brooklyn banh mi vice gentrify butcher affogato umami. Hammock yuccie kombucha pickled PBR&B, pinterest gentrify ethical XOXO poutine salvia selvage. Jean shorts master cleanse etsy thundercats four loko taxidermy. Wolf green juice tousled gochujang taxidermy helvetica you probably haven't heard of them, XOXO tilde asymmetrical cliche shoreditch bushwick. Butcher knausgaard beard, readymade pitchfork green juice fingerstache irony chillwave.

    section
      p XOXO gochujang try-hard chillwave, four dollar toast before they sold out pickled artisan put a bird on it occupy chia echo park. Occupy mustache cornhole swag, four loko shabby chic chambray 8-bit flexitarian vegan viral try-hard. Freegan gochujang crucifix humblebrag actually ennui. Knausgaard paleo four loko freegan, fixie VHS selvage synth. Biodiesel tofu celiac mlkshk, four loko normcore street art vinyl ennui cliche neutra mumblecore. Deep v twee lomo actually locavore celiac heirloom. Gastropub next level sartorial portland yuccie, before they sold out blog brunch synth selfies hella godard.