extends /layout/armchair

block content
  article
    header
      h1 About

    section
      p Content to come.

      p: a(href='/humans.txt') Colophon

    nav
      ul.bulleted
        li: a(href='/') All
        li: a(href='/songs') Songs
        li: a(href='/albums') Albums
        li: a(href='/dj_mixes') DJ Mixes
        li: a(href='/playlists') Playlists

      ul.bulleted
        li: a(href='/admin') Admin
        li: a(href='/account') Account
        li: a(href='/profile') Profile
