include /shared/mixin/index
include /nerdswithdaddyissues/mixin/index
doctype html

html(lang='en')

  head
    title!=viewHelper.tokens([headline, i18n('name')], ' | ')

    +metaStandard()

    block meta

    +externalStylesheet('https://fonts.googleapis.com/css?family=Raleway:300,600')
    +stylesheet('nerdswithdaddyissues', 'stylesheet-nerdswithdaddyissues')

    +touchIcons()

  body
    #wrap
      #content
        .container
          block content
