/***** Variables *****/

$resumeBorderColor = #6c6c7e;

/***** Mixins *****/

ruleBorder($padding, $margin, $border) {
  padding: 0 0 $padding;
  margin: 0 0 $margin;
  border-bottom: $border;

  &:last-child {
    margin: 0;
    padding: 0;
    border-bottom: 0;
  }
}

smallCaps() {
  text-transform: uppercase;
  letter-spacing: .125em;
}

/***** Base *****/

article.resume {
  readable();
  max-width: 940px;
  margin: 40px;
  font-weight: 200;
  font-size: 20px;
  color: #555;

  a {
    plainLink();
  }

  dl {
    dt {
      font-weight: bold;

      &:after {
        content: ": ";
      }
    }

    dt,
    dd {
      marginBottom(.5em);
    }

    @media $mediaL {
      floatedDefinitionList(25%, 73%);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin: 0;

    > * {
      margin: 0;
    }
  }

  h1 {
    font-size: 44px;
    color: #000;
    smallCaps();
  }

  h2 {
    font-size: 33px;
    color: darken(#6c6c7e, 10);
  }

  h3 {
    font-size: 36px;
    color: #000;
    smallCaps();
  }

  h4 {
    font-size: 30px;
    color: darken(#6c6c7e, 20);
  }

  h5 {
    color: darken(#6c6c7e, 10);
    font-size: 22px;
  }

  h6 {
    font-size: 18px;
    color: darken(#6c6c7e, 10);
  }

  .masthead {
    ruleBorder(.25em, 3em, 2px solid $resumeBorderColor);

    header {
      margin: 0 0 1em;
    }

    > nav {
      ul {
        pipedList();
      }
    }

    @media $mediaLScreen {
      clearfix();

      > header {
        float: left;
        margin: 0;

        h1 {
          margin: 0 0 21px;
        }
      }

      > nav {
        margin-top: 7px;
        float: right;
        text-align: right;

        ul {
          noPipedList();
          plainList();
          li {
            margin: 0 0 3px;
          }
        }
      }
    }
  }

  > section {
    marginBottom(3em);

    img {
      display: block;
      max-width: 240px;
      margin: 0 auto 1em;

      @media $mediaL {
        float: right;
        margin: -1.5em 0 1em 3em;
      }
    }

    > header {
      ruleBorder(.25em, 3em, 1px solid $resumeBorderColor);
    }

    .subsection {
      marginBottom(1.5em);

      > header {
        ruleBorder(.25em, 1.5em, 1px solid #eaeaea);

        @media $mediaL {
          clearfix();

          h4 {
            float: left;
          }

          h6 {
            float: right;
          }
        }
      }

      .position {
        marginBottom(1.5em);

        > header {
          marginBottom(0.75em);

          @media $mediaL {
            clearfix();

            h5 {
              float: left;
            }

            h6 {
              float: right;
            }
          }
        }
      }
    }
  }
}

/***** Print *****/

@media print {
  article.resume {
    section.hire,
    .subsection.compact {
      page-break-inside: avoid;
    }
  }
}
