marginBottom($margin) {
  margin-bottom: $margin;

  &:last-child {
    margin-bottom: 0;
  }
}

marginRight($margin) {
  margin-right: $margin;

  &:last-child {
    margin-right: 0;
  }
}

centerHorizontal() {
  margin-left: auto;
  margin-right: auto;
}

paddingVertical($size) {
  padding-top: $size;
  padding-bottom: $size;
}

paddingHorizontal($size) {
  padding-left: $size;
  padding-right: $size;
}
