extends /armchairdj/layout/armchairdj

block content
  article.posts
    - if (!isHomepage)
      header
        h1!=headline

    - if (posts.length)
      - each post in posts
        +postPreview(post)
    - else
      p No posts to display.
