extends /layout/armchair

block content
  article
    header
      h1!=headline

    section
      p Brian J. Dillard, the Armchair DJ, founded this site in 1996. He's a programmer, writer, bike enthusiast and music obsessive who lives in Los Angeles with his husband and two cats.

      p Learn more here:

      ul.bulleted
        li: a(href='https://github.com/armchairdj') GitHub
        li: a(href='http://stackoverflow.com/users/1518589/armchairdj') Stack Overflow
        li: a(href='https://twitter.com/armchairdj') Twitter
        li: a(href='https://www.linkedin.com/in/briandillard') LinkedIn
