extends /layout/armchair

block content
  article
    header
      h1!=headline

    section
      p Brian J. Dillard, the Armchair DJ, founded this site in 1996. He's a programmer, writer, bike enthusiast and music obsessive who lives in Los Angeles with his husband and two cats.
