$bodyBgColor = #000;
$bodyTextColor = #aaa;
$contentBgColor = #121413;

$bylineTextColor = #73d8fb;

$postArtistColor = lighten($bylineTextColor, 10);
$postArtistColorHover = darken($postArtistColor, 20);
$postTitleColor = darken($postArtistColor, 20);
$postTitleColorHover = darken($postTitleColor, 20);

$linkColor = #fff;
$linkColorHover = darken($linkColor, 20)

$flashBgColor = #1c1d1b;

$errorTextColor = #f62f46;
$errorTextColorHover = darken($errorTextColor, 10);
$errorBgColor = lighten($errorTextColor, 60);

$infoTextColor = #bac2c3;
$infoTextColorHover = darken($infoTextColor, 10);
$infoBgColor = lighten($infoTextColor, 60);

$successTextColor = #18c515;
$successTextColorHover = darken($successTextColor, 10);
$successBgColor = lighten($successTextColor, 60);

$standardRuleColor = #191618;
