article {
  > header,
  > section {
    marginBottom(40px);
  }

  > header {
    marginBottom(20px);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      breathable();
      marginBottom(.25em);
      bold();
    }

    h1 {
      font-size: 46px;
    }

    h2 {
      font-size: 38px;
    }

    h3 {
      font-size: 28px;
    }

    h4,
    h5,
    h6 {
      font-size: 22px;
    }
  }

  > section {
    airy();

    p {
      marginBottom(30px);
    }
  }

  @media $mediaXL {
    margin-left: -200px;
    margin-right: 400px;
  }
}