/*! Brian Dillard resume styles. */

vendor-prefixes ?= webkit moz ms o official

@import 'nib';

@import '../shared/config/*';
@import 'resume/config/*';

@import '../shared/mixin/*';
@import 'resume/mixin/*';

@import '../shared/tag/*';
@import 'resume/tag/*';

@import '../shared/module/*';
@import 'resume/module/*';
