$viewportXS = 320px;
$viewportS = 480px;
$viewportM = 600px;
$viewportL = 768px;
$viewportXL = 980px;

$mediaS = "all and (min-width: " + $viewportS + ")";
$mediaM = "all and (min-width: " + $viewportM + ")";
$mediaL = "all and (min-width: " + $viewportL + ")";
$mediaXL = "all and (min-width: " + $viewportXL + ")";

$mediaSScreen = "only screen and (min-width: " + $viewportS + ")";
$mediaMScreen = "only screen and (min-width: " + $viewportM + ")";
$mediaLScreen = "only screen and (min-width: " + $viewportL + ")";
$mediaXLScreen = "only screen and (min-width: " + $viewportXL + ")";
