$viewportXS = 320px;
$viewportS = 480px;
$viewportM = 600px;
$viewportL = 768px;
$viewportXL = 980px;

$mediaS = "only screen and (min-width: " + $viewportS + ")";
$mediaM = "only screen and (min-width: " + $viewportM + ")";
$mediaL = "only screen and (min-width: " + $viewportL + ")";
$mediaXL = "only screen and (min-width: " + $viewportXL + ")";
