extends /layout/armchair

block content
  article
    header
      h1 Oh, no! A 404!

    section
      p Nothing exists at this URL except this cute error page.

      p: a(href='/') Maybe try the homepage?