$bodyBgColor = #000;
$bodyTextColor = #ddd;
$contentBgColor = #121413;

$taglineTextColor = #73d8fb;

$linkColor = #2071b1;
$linkColorHover = lighten($linkColor, 20);

$navLinkColor = #bbb;
$navLinkColorHover = lighten($navLinkColor, 20)

$errorTextColor = #930;
$errorBgColor = lighten($errorTextColor, 60);

$infoTextColor = #999;
$infoBgColor = lighten($infoTextColor, 60);

$successTextColor = #00c011;
$succesBgColor = lighten($successTextColor, 60);

$standardRuleColor = #191618;
