$bodyBgColor = #000;
$contentBgColor = #191919;
$bodyTextColor = #eee;
$taglineTextColor = #73d8fb;
$linkColor = #2071b1;
$linkColorHover = lighten($linkColor, 20);

$errorTextColor = #930;
$errorBgColor = lighten($errorTextColor, 60);

$infoTextColor = #999;
$infoBgColor = lighten($infoTextColor, 60);

$successTextColor = #00c011;
$succesBgColor = lighten($successTextColor, 60);
